html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background-color: #dbd6cf;
  margin: 0;
}

h1 {
  color: #fff;
  font-family: Bevan, serif;
  font-weight: bolder;
  text-align: center;
  padding: .6em;
  margin-bottom: .3em;
  margin-top: 0;
}

nav {
  background-color: #79756f;
  border-style: solid;
  border-color: #000 #595652;
}

.navbar {
  text-align: center;
  margin-top: .3em;

}

.navbar li {
  display: inline-block;
}

.navbar a {
  background-color: #713837;
  list-style-type: none;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  padding: .3em;
  margin-top: 0;
}

a:hover {
  background-color: #f33;
}
